In [35]:
import glam
import pandas as pd
import numpy as np
import os.path

import matplotlib.pyplot as plt

In [36]:
import pymc3 as pm

In [37]:
np.random.seed(23) # from random.org

# 3.1. Hierarchical GLAM estimation and out of sample prediction

## Load data

In [38]:
# Load data
sufix = '_Like_NoBin_NUTS_31'
data = pd.read_csv('data/FF2018_data/GlamDataFF2018_Like_NoBin_31.csv')
# Subset only necessary columns
data = data[['subject', 'trial', 'choice', 'rt',
         'item_value_0', 'item_value_1',
         'gaze_0', 'gaze_1']]
data.head()

,subject,trial,choice,rt,item_value_0,item_value_1,gaze_0,gaze_1
0,0,0,0,2009,1.10,0.95,0.568396,0.431604
1,0,1,0,3371,2.00,1.70,0.762332,0.237668
2,0,2,1,1700,1.10,2.30,0.446809,0.553191
3,0,3,1,7466,1.25,1.40,0.532352,0.467648
4,0,4,1,1889,2.00,2.30,0.529736,0.470264

In [39]:
data.subject.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

## Split data in training and test sets

In [40]:
train_data = pd.DataFrame()
test_data = pd.DataFrame()

for subject in data.subject.unique():
    subject_data = data[data['subject'] == subject].copy().reset_index(drop=True)
    n_trials = len(subject_data)
    
    subject_train = subject_data.iloc[np.arange(0, n_trials, 2)].copy()
    subject_test = subject_data.iloc[np.arange(1, n_trials, 2)].copy()

    test_data = pd.concat([test_data, subject_test])
    train_data = pd.concat([train_data, subject_train])

test_data.to_csv(str('data/FF2018_data/GlamDataFF2018_preprocessed_test'+sufix+'.csv'))
train_data.to_csv(str('data/FF2018_data/GlamDataFF2018_preprocessed_train'+sufix+'.csv'))

print('Split data into training ({} trials) and test ({} trials) sets...'.format(len(train_data), len(test_data)))

Split data into training (1860 trials) and test (1860 trials) sets...

## Hierarchical GLAM estimation

### 1. full GLAM

In [9]:
# Fitting full GLAM
print('Fitting full GLAM hierarchically...')

glam_full = glam.GLAM(train_data)

if not os.path.exists(str('results/estimates/glam_FF2018_full_hierarchical_cv'+sufix+'.npy')):
    glam_full.make_model('hierarchical', gamma_bounds=(-1, 1), t0_val=0)
    glam_full.fit(method='NUTS', tune=1000)
else:
    print('  Found old parameter estimates in "results/estimates". Skipping estimation...')
    glam_full.estimates = np.load(str('results/estimates/glam_FF2018_full_hierarchical_cv'+sufix+'.npy'))   
# Save parameter estimates
np.save(str('results/estimates/glam_FF2018_full_hierarchical_cv'+sufix+'.npy'), glam_full.estimates)
pd.DataFrame(glam_full.estimates)

Fitting full GLAM hierarchically...
Generating hierarchical model for 31 subjects...

/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...

Fitting 1 model(s) using NUTS...
  Fitting model 1 of 1...

/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Multiprocess sampling (2 chains in 2 jobs)
NUTS: [tau, tau_sd, tau_mu, SNR, SNR_sd, SNR_mu, gamma, gamma_sd, gamma_mu, v, v_sd, v_mu]
Sampling 2 chains:   0%|          | 0/6000 [00:00<?, ?draws/s]/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Sampling 2 chains: 100%|██████████| 6000/6000 [1:14:46<00:00,  1.69s/draws]

/!\ Automatically setting parameter precision...

,SNR,SNR_mu,SNR_sd,b,gamma,gamma_mu,gamma_sd,p_error,s,t0,tau,tau_mu,tau_sd,v,v_mu,v_sd
0,151.23,164.29,35.54,1.0,-0.11,-0.26,0.38,0.05,0.007843,0.0,3.74,3.34,1.14,0.000047,0.000052,0.000013
1,137.71,164.29,35.54,1.0,0.29,-0.26,0.38,0.05,0.010344,0.0,4.30,3.34,1.14,0.000072,0.000052,0.000013
2,141.48,164.29,35.54,1.0,-0.00,-0.26,0.38,0.05,0.008574,0.0,2.59,3.34,1.14,0.000058,0.000052,0.000013
3,157.60,164.29,35.54,1.0,-0.10,-0.26,0.38,0.05,0.007178,0.0,4.65,3.34,1.14,0.000043,0.000052,0.000013
4,96.58,164.29,35.54,1.0,-0.37,-0.26,0.38,0.05,0.007063,0.0,4.22,3.34,1.14,0.000080,0.000052,0.000013
5,113.65,164.29,35.54,1.0,0.15,-0.26,0.38,0.05,0.008615,0.0,2.80,3.34,1.14,0.000059,0.000052,0.000013
6,163.65,164.29,35.54,1.0,-0.00,-0.26,0.38,0.05,0.010656,0.0,3.55,3.34,1.14,0.000069,0.000052,0.000013
7,150.49,164.29,35.54,1.0,-0.08,-0.26,0.38,0.05,0.007405,0.0,3.29,3.34,1.14,0.000045,0.000052,0.000013
8,175.26,164.29,35.54,1.0,-0.71,-0.26,0.38,0.05,0.009622,0.0,1.24,3.34,1.14,0.000053,0.000052,0.000013
9,137.66,164.29,35.54,1.0,-0.08,-0.26,0.38,0.05,0.007104,0.0,4.77,3.34,1.14,0.000048,0.000052,0.000013
10,139.86,164.29,35.54,1.0,-0.07,-0.26,0.38,0.05,0.006689,0.0,2.09,3.34,1.14,0.000046,0.000052,0.000013
11,147.06,164.29,35.54,1.0,-0.29,-0.26,0.38,0.05,0.006778,0.0,2.97,3.34,1.14,0.000050,0.000052,0.000013
12,165.72,164.29,35.54,1.0,-0.10,-0.26,0.38,0.05,0.007923,0.0,3.83,3.34,1.14,0.000047,0.000052,0.000013
13,191.67,164.29,35.54,1.0,0.15,-0.26,0.38,0.05,0.007864,0.0,2.52,3.34,1.14,0.000043,0.000052,0.000013
14,149.37,164.29,35.54,1.0,0.42,-0.26,0.38,0.05,0.007737,0.0,2.44,3.34,1.14,0.000045,0.000052,0.000013
15,150.47,164.29,35.54,1.0,-0.57,-0.26,0.38,0.05,0.007620,0.0,4.53,3.34,1.14,0.000052,0.000052,0.000013
16,152.69,164.29,35.54,1.0,0.03,-0.26,0.38,0.05,0.008576,0.0,4.87,3.34,1.14,0.000055,0.000052,0.000013
17,102.32,164.29,35.54,1.0,-0.38,-0.26,0.38,0.05,0.006303,0.0,4.56,3.34,1.14,0.000055,0.000052,0.000013
18,114.35,164.29,35.54,1.0,-0.71,-0.26,0.38,0.05,0.007595,0.0,3.05,3.34,1.14,0.000058,0.000052,0.000013
19,77.01,164.29,35.54,1.0,-0.72,-0.26,0.38,0.05,0.005931,0.0,3.59,3.34,1.14,0.000073,0.000052,0.000013
20,160.24,164.29,35.54,1.0,-0.38,-0.26,0.38,0.05,0.007985,0.0,3.02,3.34,1.14,0.000044,0.000052,0.000013
21,190.84,164.29,35.54,1.0,-0.17,-0.26,0.38,0.05,0.007118,0.0,1.36,3.34,1.14,0.000035,0.000052,0.000013
22,108.44,164.29,35.54,1.0,-0.15,-0.26,0.38,0.05,0.008825,0.0,4.41,3.34,1.14,0.000079,0.000052,0.000013
23,175.71,164.29,35.54,1.0,-0.40,-0.26,0.38,0.05,0.007353,0.0,4.98,3.34,1.14,0.000042,0.000052,0.000013
24,195.32,164.29,35.54,1.0,0.07,-0.26,0.38,0.05,0.007485,0.0,3.77,3.34,1.14,0.000034,0.000052,0.000013
25,138.12,164.29,35.54,1.0,-0.31,-0.26,0.38,0.05,0.009648,0.0,2.39,3.34,1.14,0.000056,0.000052,0.000013
26,123.71,164.29,35.54,1.0,-0.79,-0.26,0.38,0.05,0.007309,0.0,4.40,3.34,1.14,0.000054,0.000052,0.000013
27,182.16,164.29,35.54,1.0,-0.32,-0.26,0.38,0.05,0.010526,0.0,3.69,3.34,1.14,0.000056,0.000052,0.000013
28,203.52,164.29,35.54,1.0,-0.75,-0.26,0.38,0.05,0.006983,0.0,2.15,3.34,1.14,0.000034,0.000052,0.000013
29,169.70,164.29,35.54,1.0,-0.63,-0.26,0.38,0.05,0.007855,0.0,4.10,3.34,1.14,0.000044,0.000052,0.000013
30,185.39,164.29,35.54,1.0,-0.37,-0.26,0.38,0.05,0.007719,0.0,0.54,3.34,1.14,0.000041,0.000052,0.000013

In [10]:
# Compute WAICs
print('Computing WAIC scores for full model...')
if not os.path.exists(str('results/waic/glam_FF2018_full'+ sufix +'.npy')):
    # Note: DIC computation does not work for ADVI fitted models
    # But we are using WAIC
    glam_full.compute_waic()
else:
    print('  Found old DIC scores in "results/waic". Skipping WAIC computation...')
    glam_full.waic = np.load(str('results/waic/glam_FF2018_full'+ sufix +'.npy'))

# Compute WAICs
np.save(str('results/waic/glam_FF2018_full'+ sufix +'.npy'), glam_full.waic)

Computing WAIC scores for full model...

/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/pymc3/stats.py:211: UserWarning: For one or more samples the posterior variance of the
        log predictive densities exceeds 0.4. This could be indication of
        WAIC starting to fail see http://arxiv.org/abs/1507.04544 for details

  """)

In [11]:
glam_full.waic

WAIC_r(WAIC=32704.32728053088, WAIC_se=0.0, p_WAIC=66.66452633644445, var_warn=1)

In [12]:
# Compute LOO

glam_full.loo = pm.loo(trace=glam_full.trace, model=glam_full.model)
glam_full.loo
np.save(str('results/loo/glam_FF2018_full'+ sufix +'.npy'), glam_full.loo)

/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/pymc3/stats.py:292: UserWarning: Estimated shape parameter of Pareto distribution is
        greater than 0.7 for one or more samples.
        You should consider using a more robust model, this is because
        importance sampling is less likely to work well if the marginal
        posterior and LOO posterior are very different. This is more likely to
        happen with a non-robust model and highly influential observations.
  happen with a non-robust model and highly influential observations.""")

In [13]:
glam_full.loo

LOO_r(LOO=32653.366046821335, LOO_se=0.0, p_LOO=41.183909481671435, shape_warn=1)

In [14]:
# Predictions
print('Predicting test set data using full GLAM...')
glam_full.exchange_data(test_data)

if not os.path.exists(str('results/predictions/glam_FF2018_full_hierarchical_cv'+sufix+'.csv')):
    glam_full.predict(n_repeats=50)
    glam_full.prediction.to_csv(str('results/predictions/glam_FF2018_full_hierarchical_cv'+sufix+'.csv'), index=False)
else:
    print('  Found old hierarchical full GLAM predictions in "results/predictions". Skipping prediction...')
    glam_full.prediction = pd.read_csv(str('results/predictions/glam_FF2018_full_hierarchical_cv'+sufix+'.csv'))

glam_full.prediction.head()

Predicting test set data using full GLAM...
Replaced attached data (1860 trials) with new data (1860 trials)...

,choice,repeat,rt,subject,trial,item_value_0,gaze_0,item_value_1,gaze_1
0,0.0,0.0,3360.0,0.0,0.0,2.0,0.762332,1.7,0.237668
1,0.0,1.0,1598.0,0.0,0.0,2.0,0.762332,1.7,0.237668
2,0.0,2.0,2172.0,0.0,0.0,2.0,0.762332,1.7,0.237668
3,0.0,3.0,2779.0,0.0,0.0,2.0,0.762332,1.7,0.237668
4,0.0,4.0,1360.0,0.0,0.0,2.0,0.762332,1.7,0.237668

### 1. no-bias GLAM

In [41]:
# Fitting no-bias GLAM
print('Fitting no-bias GLAM hierarchically...')

glam_nobias = glam.GLAM(train_data)

if not os.path.exists(str('results/estimates/glam_FF2018_nobias_hierarchical_cv'+sufix+'.npy')):
    glam_nobias.make_model('hierarchical', gamma_val=1.0, t0_val=0)
    glam_nobias.fit(method='NUTS', tune=1000)
else:
    print('  Found old parameter estimates in "results/estimates". Skipping estimation...')
    glam_nobias.estimates = np.load(str('results/estimates/glam_FF2018_nobias_hierarchical_cv'+sufix+'.npy'))

Fitting no-bias GLAM hierarchically...
Generating hierarchical model for 31 subjects...

/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Auto-assigning NUTS sampler...
Initializing NUTS using jitter+adapt_diag...

Fitting 1 model(s) using NUTS...
  Fitting model 1 of 1...

/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Multiprocess sampling (2 chains in 2 jobs)
NUTS: [tau, tau_sd, tau_mu, SNR, SNR_sd, SNR_mu, v, v_sd, v_mu]
Sampling 2 chains:   0%|          | 0/6000 [00:00<?, ?draws/s]/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
Sampling 2 chains: 100%|██████████| 6000/6000 [5:10:06<00:00,  2.14s/draws]
The chain reached the maximum tree depth. Increase max_treedepth, increase target_accept or reparameterize.
The chain reached the maximum tree depth. Increase max_treedepth, increase target_accept or reparameterize.
The gelman-rubin statistic is larger than 1.4 for some parameters. The sampler did not converge.
The estimated number of effective samples is smaller than 200 for some parameters.

/!\ Automatically setting parameter precision...

In [42]:
   
# Save parameter estimates
np.save(str('results/estimates/glam_FF2018_nobias_hierarchical_cv'+sufix+'.npy'), glam_nobias.estimates)
pd.DataFrame(glam_nobias.estimates)

,SNR,SNR_mu,SNR_sd,b,gamma,p_error,s,t0,tau,tau_mu,tau_sd,v,v_mu,v_sd
0,177.66,144.07,31.4,1.0,1.0,0.05,0.007513,0.0,2.77,1.29,0.76,0.000048,0.000058,0.000015
1,127.76,144.07,31.4,1.0,1.0,0.05,0.010208,0.0,2.07,1.29,0.76,0.000039,0.000058,0.000015
2,155.13,144.07,31.4,1.0,1.0,0.05,0.009075,0.0,1.95,1.29,0.76,0.000057,0.000058,0.000015
3,413.19,144.07,31.4,1.0,1.0,0.05,0.006931,0.0,1.80,1.29,0.76,0.000050,0.000058,0.000015
4,91.02,144.07,31.4,1.0,1.0,0.05,0.007725,0.0,3.32,1.29,0.76,0.000090,0.000058,0.000015
5,496.86,144.07,31.4,1.0,1.0,0.05,0.007489,0.0,1.32,1.29,0.76,0.000032,0.000058,0.000015
6,105.38,144.07,31.4,1.0,1.0,0.05,0.009102,0.0,3.40,1.29,0.76,0.000086,0.000058,0.000015
7,129.34,144.07,31.4,1.0,1.0,0.05,0.006906,0.0,1.28,1.29,0.76,0.000048,0.000058,0.000015
8,136.84,144.07,31.4,1.0,1.0,0.05,0.008900,0.0,0.10,1.29,0.76,0.000062,0.000058,0.000015
9,140.92,144.07,31.4,1.0,1.0,0.05,0.007791,0.0,3.19,1.29,0.76,0.000044,0.000058,0.000015
10,146.59,144.07,31.4,1.0,1.0,0.05,0.007975,0.0,0.52,1.29,0.76,0.000053,0.000058,0.000015
11,180.92,144.07,31.4,1.0,1.0,0.05,0.008096,0.0,2.65,1.29,0.76,0.000056,0.000058,0.000015
12,313.61,144.07,31.4,1.0,1.0,0.05,0.008442,0.0,1.51,1.29,0.76,0.000036,0.000058,0.000015
13,146.47,144.07,31.4,1.0,1.0,0.05,0.008012,0.0,1.80,1.29,0.76,0.000047,0.000058,0.000015
14,101.96,144.07,31.4,1.0,1.0,0.05,0.005415,0.0,2.27,1.29,0.76,0.000051,0.000058,0.000015
15,135.76,144.07,31.4,1.0,1.0,0.05,0.007838,0.0,0.89,1.29,0.76,0.000057,0.000058,0.000015
16,129.82,144.07,31.4,1.0,1.0,0.05,0.007864,0.0,1.36,1.29,0.76,0.000063,0.000058,0.000015
17,97.52,144.07,31.4,1.0,1.0,0.05,0.006869,0.0,0.32,1.29,0.76,0.000070,0.000058,0.000015
18,146.95,144.07,31.4,1.0,1.0,0.05,0.008268,0.0,0.30,1.29,0.76,0.000056,0.000058,0.000015
19,48.93,144.07,31.4,1.0,1.0,0.05,0.004935,0.0,0.34,1.29,0.76,0.000106,0.000058,0.000015
20,174.33,144.07,31.4,1.0,1.0,0.05,0.007782,0.0,3.21,1.29,0.76,0.000045,0.000058,0.000015
21,186.06,144.07,31.4,1.0,1.0,0.05,0.006724,0.0,0.21,1.29,0.76,0.000036,0.000058,0.000015
22,185.44,144.07,31.4,1.0,1.0,0.05,0.009099,0.0,2.03,1.29,0.76,0.000072,0.000058,0.000015
23,187.38,144.07,31.4,1.0,1.0,0.05,0.007851,0.0,0.51,1.29,0.76,0.000043,0.000058,0.000015
24,218.98,144.07,31.4,1.0,1.0,0.05,0.007317,0.0,1.88,1.29,0.76,0.000035,0.000058,0.000015
25,148.95,144.07,31.4,1.0,1.0,0.05,0.008325,0.0,1.39,1.29,0.76,0.000048,0.000058,0.000015
26,127.81,144.07,31.4,1.0,1.0,0.05,0.007924,0.0,0.16,1.29,0.76,0.000059,0.000058,0.000015
27,17.67,144.07,31.4,1.0,1.0,0.05,0.009511,0.0,0.29,1.29,0.76,0.000059,0.000058,0.000015
28,169.61,144.07,31.4,1.0,1.0,0.05,0.006413,0.0,0.79,1.29,0.76,0.000038,0.000058,0.000015
29,159.06,144.07,31.4,1.0,1.0,0.05,0.008503,0.0,0.45,1.29,0.76,0.000055,0.000058,0.000015
30,161.58,144.07,31.4,1.0,1.0,0.05,0.007733,0.0,0.30,1.29,0.76,0.000046,0.000058,0.000015

In [30]:
# In case it is already fitted
params_part_like = pd.DataFrame.from_dict(glam_nobias.estimates.item(0))
params_part_like

,SNR,SNR_mu,SNR_sd,b,gamma,p_error,s,t0,tau,tau_mu,tau_sd,v,v_mu,v_sd
0,168.63,144.5,57.82,1.0,1.0,0.05,0.007958,0.0,2.65,0.95,0.94,0.000051,0.00006,0.000014
1,122.41,144.5,57.82,1.0,1.0,0.05,0.010110,0.0,1.78,0.95,0.94,0.000082,0.00006,0.000014
2,151.55,144.5,57.82,1.0,1.0,0.05,0.008478,0.0,1.75,0.95,0.94,0.000056,0.00006,0.000014
3,136.06,144.5,57.82,1.0,1.0,0.05,0.006783,0.0,1.11,0.95,0.94,0.000050,0.00006,0.000014
4,79.26,144.5,57.82,1.0,1.0,0.05,0.007077,0.0,2.43,0.95,0.94,0.000090,0.00006,0.000014
5,112.54,144.5,57.82,1.0,1.0,0.05,0.007223,0.0,1.58,0.95,0.94,0.000064,0.00006,0.000014
6,215.37,144.5,57.82,1.0,1.0,0.05,0.011701,0.0,1.09,0.95,0.94,0.000080,0.00006,0.000014
7,202.01,144.5,57.82,1.0,1.0,0.05,0.007848,0.0,1.25,0.95,0.94,0.000046,0.00006,0.000014
8,161.54,144.5,57.82,1.0,1.0,0.05,0.009143,0.0,0.02,0.95,0.94,0.000057,0.00006,0.000014
9,167.26,144.5,57.82,1.0,1.0,0.05,0.008773,0.0,1.47,0.95,0.94,0.000050,0.00006,0.000014
10,145.86,144.5,57.82,1.0,1.0,0.05,0.006973,0.0,0.71,0.95,0.94,0.000048,0.00006,0.000014
11,146.76,144.5,57.82,1.0,1.0,0.05,0.007493,0.0,0.41,0.95,0.94,0.000051,0.00006,0.000014
12,142.95,144.5,57.82,1.0,1.0,0.05,0.007887,0.0,1.19,0.95,0.94,0.000055,0.00006,0.000014
13,153.58,144.5,57.82,1.0,1.0,0.05,0.007044,0.0,1.39,0.95,0.94,0.000046,0.00006,0.000014
14,142.90,144.5,57.82,1.0,1.0,0.05,0.006693,0.0,1.89,0.95,0.94,0.000047,0.00006,0.000014
15,156.47,144.5,57.82,1.0,1.0,0.05,0.008742,0.0,1.54,0.95,0.94,0.000056,0.00006,0.000014
16,153.80,144.5,57.82,1.0,1.0,0.05,0.008450,0.0,3.17,0.95,0.94,0.000063,0.00006,0.000014
17,116.37,144.5,57.82,1.0,1.0,0.05,0.006639,0.0,1.39,0.95,0.94,0.000057,0.00006,0.000014
18,95.62,144.5,57.82,1.0,1.0,0.05,0.006102,0.0,0.03,0.95,0.94,0.000064,0.00006,0.000014
19,51.37,144.5,57.82,1.0,1.0,0.05,0.004361,0.0,0.16,0.95,0.94,0.000101,0.00006,0.000014
20,170.17,144.5,57.82,1.0,1.0,0.05,0.008133,0.0,0.79,0.95,0.94,0.000048,0.00006,0.000014
21,233.57,144.5,57.82,1.0,1.0,0.05,0.007873,0.0,0.96,0.95,0.94,0.000034,0.00006,0.000014
22,122.64,144.5,57.82,1.0,1.0,0.05,0.009591,0.0,1.97,0.95,0.94,0.000078,0.00006,0.000014
23,158.13,144.5,57.82,1.0,1.0,0.05,0.008661,0.0,0.68,0.95,0.94,0.000054,0.00006,0.000014
24,229.97,144.5,57.82,1.0,1.0,0.05,0.007356,0.0,4.47,0.95,0.94,0.000031,0.00006,0.000014
25,191.97,144.5,57.82,1.0,1.0,0.05,0.008214,0.0,1.24,0.95,0.94,0.000057,0.00006,0.000014
26,149.48,144.5,57.82,1.0,1.0,0.05,0.009180,0.0,0.12,0.95,0.94,0.000061,0.00006,0.000014
27,245.22,144.5,57.82,1.0,1.0,0.05,0.011570,0.0,0.93,0.95,0.94,0.000059,0.00006,0.000014
28,206.94,144.5,57.82,1.0,1.0,0.05,0.007285,0.0,0.80,0.95,0.94,0.000035,0.00006,0.000014
29,144.36,144.5,57.82,1.0,1.0,0.05,0.008070,0.0,0.66,0.95,0.94,0.000053,0.00006,0.000014
30,271.19,144.5,57.82,1.0,1.0,0.05,0.007688,0.0,0.24,0.95,0.94,0.000037,0.00006,0.000014

In [43]:
# Compute LOO

glam_nobias.loo = pm.loo(trace=glam_nobias.trace, model=glam_nobias.model)
glam_nobias.loo

np.save(str('results/loo/glam_FF2018_nobias'+ sufix +'.npy'), glam_nobias.loo
)

/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/theano/tensor/subtensor.py:2197: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  rval = inputs[0].__getitem__(inputs[1:])
/Users/pradyumna/anaconda/lib/python3.5/site-packages/pymc3/stats.py:292: UserWarning: Estimated shape parameter of Pareto distribution is
        greater than 0.7 for one or more samples.
        You should consider using a more robust model, this is because
        importance sampling is less likely to work well if the marginal
        posterior and LOO posterior are very different. This is more likely to
        happen with a non-robust model and highly influential observations.
  happen with a non-robust model and highly influential observations.""")

In [44]:
# Predictions
print('Predicting test set data using no-bias GLAM...')
glam_nobias.exchange_data(test_data)

if not os.path.exists(str('results/predictions/glam_FF2018_nobias_hierarchical_cv'+sufix+'.csv')):
    glam_nobias.predict(n_repeats=50)
    glam_nobias.prediction.to_csv(str('results/predictions/glam_FF2018_nobias_hierarchical_cv'+sufix+'.csv'), index=False)
else:
    print('  Found old hierarchical no-bias GLAM predictions in "results/predictions". Skipping prediction...')
    glam_nobias.prediction = pd.read_csv(str('results/predictions/glam_FF2018_nobias_hierarchical_cv'+sufix+'.csv'))

glam_nobias.prediction.head()

Predicting test set data using no-bias GLAM...
Replaced attached data (1860 trials) with new data (1860 trials)...

,choice,repeat,rt,subject,trial,item_value_0,gaze_0,item_value_1,gaze_1
0,0.0,0.0,4306.0,0.0,0.0,2.0,0.762332,1.7,0.237668
1,0.0,1.0,1850.0,0.0,0.0,2.0,0.762332,1.7,0.237668
2,0.0,2.0,2673.0,0.0,0.0,2.0,0.762332,1.7,0.237668
3,0.0,3.0,3377.0,0.0,0.0,2.0,0.762332,1.7,0.237668
4,0.0,4.0,3097.0,0.0,0.0,2.0,0.762332,1.7,0.237668

## 2. Plot fit

In [45]:
print('Close Figure to continue...')
glam.plot_fit(test_data, [glam_full.prediction]);
glam.plot_fit(test_data, [glam_full.prediction,glam_nobias.prediction]);

plt.show()

Close Figure to continue...

NameError: name 'glam_full' is not defined

## Parameters for full hierarchical model

In [ ]:
params_participant = glam_full.estimates.item(0)
params_participant = pd.DataFrame.from_dict(glam_full.estimates.item(0))

In [ ]:
params_participant

In [ ]:
print ("Mean gamma " +  str(params_participant['gamma'].mean()))

In [ ]:
hist = params_participant[['SNR','gamma','tau','v']].hist(figsize = [20,3] , layout=[1,4],bins = 20)

## [END]

In [ ]:
testa = glam_nobias.prediction

In [ ]:
xlims =(0, 10)

# Compute relevant variables
df = glam.plots.add_difficulty(testa)

# Compute summary statistics
subject_means = df.groupby(['subject', 'difficulty']).rt.mean()
means = subject_means.groupby('difficulty').mean()[xlims[0]:xlims[1]]
sems = subject_means.groupby('difficulty').sem()[xlims[0]:xlims[1]]

In [ ]:
means